/* General Styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #003049;
}

/* Navbar */
.navbar {
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    background-color: #212529;
    padding: 20px;
    z-index: 1000;
    transition: all 0.5s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.navbar-logo {
    margin-left: 20px;
}
.navbar-logo img {
    height: 50px;
}

/* Player Presentation Section */
.player-presentation {
    position: relative;
    height: 70vh;
    background: #f4f4f9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.player-presentation h1 {
    font-size: 3rem;
    color: #003049;
    margin: 0;
}
.player-presentation h2 {
    font-size: 1.5rem;
    color: #003049;
    margin: 10px 0;
}
.player-presentation img {
    margin-top: 20px;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

/* Player Introduction Section */
.player-introduction {
    display: flex;
    justify-content: space-between;
    padding: 40px;
    background-color: #e5e5e5;
}
.player-description, .player-stats {
    flex: 1;
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.player-description h2, .player-stats h2 {
    font-size: 1.8rem;
    color: #003049;
    margin-bottom: 15px;
}
.player-description p {
    font-size: 1rem;
    color: #212529;
    line-height: 1.6;
}
.general-info div {
    margin-bottom: 10px;
    font-size: 1rem;
    color: #212529;
}
.general-info img {
    margin-left: 10px;
    vertical-align: middle;
}

/* Skills Section */
.skills {
    padding: 40px;
    background-color: #e5e5e5;
    text-align: center;
}
.skills h2 {
    font-size: 2rem;
    color: #003049;
    margin-bottom: 20px;
}
.skills ul {
    list-style-type: none;
    padding: 0;
    color: #212529;
    font-size: 1.2rem;
}
.skills li {
    margin: 10px 0;
}
